$font-family: 'Montserrat', sans-serif;

$title-weight: 700;
$title-font-size: 1.8rem;
$title-font-size-sm: 2rem;
$title-font-size-md: 2.5rem;

$normal-text-weight: 400;
$normal-text-font-size: 1rem;
